<%# スマホ用header %>
<nav class="navbar navbar-expand-lg sticky-top d-lg-none shadow-sm py-1" style="background-color: #fd7e14 !important;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand text-white d-flex align-items-center" do %>
      <div class="mobile-logo-container">
        <span class="mobile-logo-my">My</span><span class="mobile-logo-fav">Fav</span><span class="mobile-logo-ramen">らぁめん</span>
      </div>
    <% end %>
    <%= link_to new_user_session_path, class: "btn btn-sm btn-outline-light rounded-pill ms-auto px-2 py-1 shadow-sm" do %>
      <i class="bi bi-box-arrow-in-right"></i> ログイン
    <% end %>
  </div>
</nav>