<%# スマホ用header %>
<nav class="navbar navbar-expand-lg sticky-top d-lg-none shadow-sm py-1" style="background-color: #fd7e14 !important;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand text-white d-flex align-items-center" do %>
      <div class="mobile-logo-container">
        <span class="mobile-logo-my">My</span><span class="mobile-logo-fav">Fav</span><span class="mobile-logo-ramen">らぁめん</span>
      </div>
    <% end %>
    <%= link_to new_user_session_path, class: "nav-link btn btn-sm ms-auto px-3 py-1 fw-bold rounded-pill shadow-sm fs-8", style: "background: linear-gradient(45deg, #FF512F, #DD2476); color: white; border: none;" do %>
      <i class="bi bi-box-arrow-in-right text-white"></i> ログイン
    <% end %>
  </div>
</nav>