// ヘッダーの高さをグローバル変数として設定
:root {
  --header-height-lg: 65px; /* PC用ヘッダーの高さ */
}

// スマホレイアウトに合わせてコンテンツを幅いっぱいに広げる設定

html, body {
  height: 100%;
  margin: 0; // ブラウザデフォルトのマージンをリセット
  padding: 0; // ブラウザデフォルトのパディングをリセット
}

body > .container {
  min-height: 100vh;
}