<footer>
  <div><%= link_to "プロフ", user_path(current_user) %></div>
  <div><%= link_to "Myランキング", rankings_path(current_user) %></div>
  <div><%= link_to "探す", shops_path %></div>
  <div><%= link_to "ランキング", "#" %></div>
</footer>