<div class="row">
  <div class="col-md-8">
    <div class="card" style="height: auto; min-height: 380px;">
      <div class="card-body" style="height: 100%; padding: 0;">
        <% if defined?(@shop) && @shop.present? && @shop.latitude.present? && @shop.longitude.present? %>
          <div data-controller="maps"
              data-maps-latitude-value="<%= @shop.latitude %>"
              data-maps-longitude-value="<%= @shop.longitude %>"
              data-maps-shop-name-value="<%= @shop.name %>">
            <div data-maps-target="map" id="map"></div>
          </div>
        <% else %>
          <div data-controller="maps">
            <div data-maps-target="map" id="map"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>