<%# Offcanvas ナビゲーション (スマホ: ドロワー / PC: サイドバー) %>
<%# PC表示時の固定用に sidebar-lg クラスを追加 %>
<div class="offcanvas-lg offcanvas-start text-bg-light sidebar-lg" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 280px;">
  <div class="offcanvas-header d-lg-none">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">メニュー</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column p-3">
    <%# PC表示時のヘッダー代わり (ホームへのリンク) %>
    <div class="d-none d-lg-block mb-3">
      <a class="navbar-brand fs-4" href="#" style="color: #fd7e14;">
        <i class="bi bi-house-door-fill me-2"></i>App Home
      </a>
    </div>
    <hr class="d-none d-lg-block">
    <%# ナビゲーションメニュー %>
    <nav class="nav nav-pills flex-column">
      <h6 class="nav-link disabled">ナビゲーション</h6>
      <%= link_to edit_user_path(current_user), class: "nav-link link-dark" do %>
        <i class="bi bi-pencil-square me-2"></i> プロフィール編集
      <% end %>
      <%= link_to destroy_user_session_path, class: "nav-link link-danger", data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" } do %>
        <i class="bi bi-box-arrow-right me-2"></i> ログアウト
      <% end %>
    </nav>
    <div class="mt-auto d-none d-lg-block">
      <hr>
      <small class="text-muted">© Your App Name</small>
    </div>
  </div>
</div>